<div class="sidebar" {{- partial "func/SetAnim.html" (dict "element" "sidebar") }}>
  {{- $persons_expertises := "persons/persons_expertises.html" }}
  {{- if templates.Exists ( printf "partials/%s" $persons_expertises ) }}
    {{ partial $persons_expertises . }}
  {{ end }}
  {{- $persons_places := "persons/persons_places.html" }}
  {{- if templates.Exists ( printf "partials/%s" $persons_places ) }}
    {{ partial $persons_places . }}
  {{ end }}
  {{- partial "persons/diplomas.html" . }}
</div>